/* ---------------------------
            RESET
-----------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ---------------------------
            GENERAL
-----------------------------*/

body {
    background-color: #aeb3b685;
    font-family: "Roboto", sans-serif;
}

/* ---------------------------
            HEADER
-----------------------------*/


header {
    padding: 15px 20px;
    background-color: #ffffff;

}

.logo {
    vertical-align: bottom;
}

h1 {
    display: inline-block;
    font-weight: 900;
    font-size: 40px;
}

/* ---------------------------
            MAIN
-----------------------------*/

main {
    width: 1150px;
    height: auto;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 6px;
    padding: 20px 60px;
}

.btn {
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}

.btn-blue {
    background-color: #14AAF5;
    border: 1px solid #14AAF5;
    color: #fff;
}

.btn-white {
    background-color: #fff;
    border: 1px solid #aeb3b6ef;
    color: #aeb3b6e6;
}

.todolist {
    margin-top: 40px;

}

.title {
    display: inline-block;
    font-weight: 800px;
    color: #434851;
    padding-bottom: 10px;
}

.element {
    padding-bottom: 15px;
    font-size: 18px;
}

/* ---------------------------
            CHECKMARKS
-----------------------------*/
.circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    border-radius: 100%;
    margin-right: 8px;
}

.check {
    border: 1px solid #2CC6AB;
    color: #2CC6AB;

}

.error {
    border: 1px solid red;
    color: red;
}

/* ---------------------------
            TAGS
-----------------------------*/
.tag {
    display: inline-block;
    color: #fff;
    border-radius: 11px;
    font-size: 12px;
    padding: 5px 10px;
}

.babyblue {
    background-color: #14AAF5;
}

.purple {
    background-color: #ab5de6;
}

.green {
    background-color: #2CC6AB;
}

.orange {
    background-color: #FF9B00;
}

.pink {
    background-color: #EC4A9D;
}

.lime-green {
    background-color: #A3D116;
}