/* ---------------------------
            RESET
-----------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ---------------------------
            GENERAL
-----------------------------*/

body {
    background-color: #aeb3b685;
    font-family: "Roboto", sans-serif;
}

/* ---------------------------
            HEADER
-----------------------------*/


header {
    padding: 15px 20px;
    background-color: #ffffff;

}

.logo {
    vertical-align: bottom;
}

h1 {
    display: inline-block;
    font-weight: 900;
    font-size: 40px;
}

/* ---------------------------
            MAIN
-----------------------------*/

main {
    width: 900px;
    height: 1400px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 6px;
    padding: 20px 40px;
}

.btn {
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}

.btn-blue {
    background-color: #14AAF5;
    border: 1px solid #14AAF5;
    color: #fff;
}

.btn-white {
    background-color: #fff;
    border: 1px solid #aeb3b685;
    color: #aeb3b685;
}